<!-- templates/resultados.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ titulo }}</h1>
    <a href="/" class="boton-volver">Volver a buscar</a>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% else %}
        <div class="resultados">
            <h2>Búsqueda por: {{ tipo_busqueda }}</h2>
            <h3>Valor buscado: {{ valor_busqueda }}</h3>
            {% if resultados is not none %}
                <table class="tabla-resultados">
                    <thead>
                        <tr>
                            <th>Fórmula</th>
                            {% if nomenclatura_devolver == "sistematica" or nomenclatura_devolver == "todas" %}
                                <th>Sistemática</th>
                            {% endif %}
                            {% if nomenclatura_devolver == "stock" or nomenclatura_devolver == "todas" %}
                                <th>Stock</th>
                            {% endif %}
                            {% if nomenclatura_devolver == "tradicional" or nomenclatura_devolver == "todas" %}
                                <th>Tradicional</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for _, fila in resultados.iterrows() %}
                            <tr>
                                <td>{{ fila['Formula2'] }}</td>
                                {% if nomenclatura_devolver == "sistematica" or nomenclatura_devolver == "todas" %}
                                    <td>{{ fila['Sistematica'] }}</td>
                                {% endif %}
                                {% if nomenclatura_devolver == "stock" or nomenclatura_devolver == "todas" %}
                                    <td>{{ fila['Stock'] }}</td>
                                {% endif %}
                                {% if nomenclatura_devolver == "tradicional" or nomenclatura_devolver == "todas" %}
                                    <td>{{ fila['Tradicional'] }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="error">No se encontraron resultados.</p>
            {% endif %}
        </div>
    {% endif %}

    <!-- Footer -->
    <div class="footer">
        <p>© 2023 Proyecto Personal - Mateo Martín</p>
    </div>
</body>
</html>
